/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 10/12/2021 1:54:13 PM ******/
-- CREATE DATABASE Q3 // uncomment and execute once

USE Q3
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DEPARTMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 10/12/2021 1:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STUDENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[STUDENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[GENDER] [char](1) NULL,
	[DEPT_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([ID], [Name]) VALUES (1, N'Production')
INSERT [dbo].[DEPARTMENT] ([ID], [Name]) VALUES (2, N'Development')
INSERT [dbo].[DEPARTMENT] ([ID], [Name]) VALUES (3, N'Technical')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
SET IDENTITY_INSERT [dbo].[STUDENT] ON 

INSERT [dbo].[STUDENT] ([ID], [Name], [GENDER], [DEPT_ID]) VALUES (1, N'Samantha', N'F', 4)
INSERT [dbo].[STUDENT] ([ID], [Name], [GENDER], [DEPT_ID]) VALUES (2, N'Jane', N'F', 4)
INSERT [dbo].[STUDENT] ([ID], [Name], [GENDER], [DEPT_ID]) VALUES (3, N'Bob', N'M', 2)
SET IDENTITY_INSERT [dbo].[STUDENT] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DEPARTMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[STUDENT]'))
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DEPARTMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[STUDENT]'))
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_DEPARTMENT]
GO
